*.class

# Various scripts
retest.cmd

# Package Files
*.jar
*.war
*.ear

# Editor backup files
*~
*.bak

# Maven
target

# Eclipse
.project
.classpath
.settings

# IntelliJ Idea
.idea
*.iml
*/*.iml

# webapp logs
*/env.CATALINA_HOME_IS_UNDEFINED*

# Data stored
data/*.html
data/*.osm
data/*.osm.pbf
data/*.xapi
data/*
