<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{titleprefix} + ': ' + #{main.title}">OSM Mosques: Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body bgcolor="#fff">
<h1 th:text="#{titleprefix} + ': ' + #{main.title}">OSM Mosques: Main Page</h1>

<ul>
    <li th:text="#{main.this-page}">This page here..</li>
    <li><a th:href="@{/osm/list}" th:text="#{main.osm-list-name}">List of OSM muslim prayer sites</a></li>
    <li><a th:href="@{/ditib/list}" th:text="#{main.ditib-list-name}">List of DITIB muslim prayer sites</a></li>
    <li><a th:href="@{/map}" th:text="#{main.leaflet-based-map}">Leaflet-based map</a></li>
</ul>

</body>
</html>
