<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>OSM Muslim Prayer Site Overview Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>OSM Muslim Prayer Site Overview Tool</h1>

<ul>
    <li>This page here..</li>
    <li><a href="osm/list">List of OSM</a> muslim prayer sites</li>
    <li><a href="ditib/list">List of DITIB</a> muslim prayer sites</li>
    <li>Leaflet-based <a href="map">map</a></li>
</ul>

</body>
</html>
