<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{titleprefix}+ ': ' + #{map.title}">OSM Mosques: Map</title>
    <meta charset="utf-8"/>

    <link rel="shortcut icon" th:href="@{/favicon-mosque.ico}" href="../../static/favicon-mosque.ico"
          type="image/x-icon"/>

    <object th:include="fragments/map-common-stylesheets :: map-common-stylesheets" th:remove="tag">
        Common Map Stylesheet stuff
    </object>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="menu_bar"
     th:replace="fragments/navbar :: navbar">
    Navbar stuff
</div>

<div id="map" class="sidebar-map">
</div>

<div th:replace="fragments/map-common-javascripts :: map-common-javascripts">Common Map Javascript stuff</div>

<script th:src="@{/js/osm-mosques.js}" src="../../static/js/osm-mosques.js"/>

<script th:src="@{/js/osm-mosques-map-unassigned-country.js}"
        src="../../static/js/osm-mosques-map-unassigned-country.js"/>

<script th:src="@{/js/osm-mosques-map-common.js}" src="../../static/js/osm-mosques-map-common.js"/>

</body>
</html>
