<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{titleprefix}+ ': ' + #{list.osm.title}">List of OSM places</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../webjars/tablesorter/2.15.5/css/theme.dropbox.css" rel="stylesheet"/>

    <script src="../webjars/jquery/2.1.1/jquery.js"/>
    <script src="../webjars/tablesorter/2.15.5/js/jquery.tablesorter.js"/>
</head>
<body bgcolor="#fff">
<h1 th:text="#{titleprefix}+ ': ' + #{list.osm.title}">OSM Mosques: List of OSM places</h1>

<table id="osm-list" class="tablesorter" data-sortlist="[[3,0],[4,0]]">
    <thead>
    <tr>
        <th th:text="#{list.lat}">LAT</th>
        <th th:text="#{list.lon}">LON</th>
        <th th:text="#{list.key}">KEY</th>
        <th th:text="#{list.name}">NAME</th>
        <th th:text="#{list.city}">CITY</th>
        <th th:text="#{list.street}">STREET</th>
        <th th:text="#{list.housenumber}">NUMBER</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="place : ${places}">
        <td th:text="${place.lat}"></td>
        <td th:text="${place.lon}"></td>
        <td></td>
        <td th:text="${place.name}"></td>
        <td th:text="${place.address.city}"></td>
        <td th:text="${place.address.street}"></td>
        <td th:text="${place.address.housenumber}"></td>
    </tr>
    </tbody>
</table>

<script id="js">
    $(function () {
        $.extend($.tablesorter.defaults, {
            theme: 'dropbox',
            widthFixed: true
        });
        $(".compatibility").tablesorter();
        $("#osm-list").tablesorter({widgets: ['zebra']});
        $("table.options, table.api").tablesorter({widgets: ['stickyHeaders']});
    });
</script>

</body>
</html>
