<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="map-common-javascripts">

    <script th:src="@{/webjars/leaflet/dist/leaflet.js}"
            src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"/>

    <script src="https://maps.google.com/maps/api/js?v=3"/>

    <script th:src="@{/webjars/leaflet-contextmenu/dist/leaflet.contextmenu.js}"
            src="https://SOMEWHERE-ON-THE-INTARWEBS/webjars/leaflet-contextmenu/1.0.0/dist/leaflet.contextmenu.js"/>

    <script th:src="@{/webjars/leaflet.locatecontrol/src/L.Control.Locate.js}"
            src="https://SOMEWHERE-ON-THE-INTARWEBS/webjars/leaflet.locatecontrol/0.48.0/src/L.Control.Locate.js"/>

    <script th:src="@{/webjars/Leaflet.EasyButton/src/easy-button.js}"
            src="https://raw.githubusercontent.com/CliffCloud/Leaflet.EasyButton/master/src/easy-button.js"/>

    <script th:src="@{/webjars/leaflet-providers/leaflet-providers.js}"
            src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.1.7/leaflet-providers.min.js"/>

    <script th:src="@{/webjars/leaflet-plugins/layer/tile/Google.js}"
            src="https://SOMEWHERE-ON-THE-INTARWEBS/webjars/leaflet-plugins/1.4.3/layer/tile/Google.js"/>

    <script th:src="@{/webjars/leaflet-plugins/control/Permalink.js}"
            src="https://SOMEWHERE-ON-THE-INTARWEBS/webjars/leaflet-plugins/1.4.3/layer/control/Permalink.js"/>
    <script th:src="@{/webjars/leaflet-plugins/control/Permalink.Marker.js}"
            src="https://SOMEWHERE-ON-THE-INTARWEBS/webjars/leaflet-plugins/1.4.3/control/Permalink.Marker.js"/>
    <script th:src="@{/webjars/leaflet-plugins/control/Permalink.Layer.js}"
            src="https://SOMEWHERE-ON-THE-INTARWEBS/webjars/leaflet-plugins/1.4.3/control/Permalink.Layer.js"/>

    <script th:src="@{/webjars/leaflet.markercluster/dist/leaflet.markercluster.js}"
            src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"/>
    <script th:src="@{/webjars/Leaflet.MakiMarkers/Leaflet.MakiMarkers.js}"
            src="https://SOMEWHERE-ON-THE-INTARWEBS/webjars/Leaflet.MakiMarkers/1.0.1/Leaflet.MakiMarkers.js"/>

    <script th:src="@{/webjars/jquery/dist/jquery.js}"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"/>

</div>
</body>
</html>
