<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="menu_bar">
    <div class="container">
        <div class="navbar-brand site-name">
            <a title="Map" href="https://www.osmmosques.org/">OSM Mosques</a>
        </div>
        <div class="navbar-menu collapse">
            <ul>
                <li class="menu-item active">
                    <a title="Map" href="https://www.osmmosques.org/">Map</a>
                </li>
                <li class="menu-item">
                    <a title="About" href="https://blog.osmmosques.org/about/">About</a>
                </li>
                <li class="menu-item">
                    <a title="Blog" href="https://blog.osmmosques.org/blog/">Blog</a>
                </li>
                <li class="menu-item">
                    <a title="Datenschutz" href="https://blog.osmmosques.org/Ddtenschutz/">Datenschutz</a>
                </li>
                <li class="menu-item">
                    <a title="Impressum" href="https://blog.osmmosques.org/impressum/">Impressum</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
