<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="osm-details" id="osm-details">
    <div class="details">
        <table>

            <tbody>

            <tr>
                <td>
                    <label for="placeName" th:text="#{map.details.name}">Name</label>
                </td>
                <td>
                    <input type="text" class="form-control" th:readonly="true" id="placeName" th:value="${placeName}"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="placeType" th:text="#{map.details.type}">Type</label>
                </td>
                <td>
                    <input type="text" class="form-control" th:readonly="true" id="placeType" th:value="${placeType}"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label th:text="#{map.details.address}">Address</label>
                </td>
                <td>
                    <input type="text" class="form-control" th:readonly="true" id="placeStreet"
                           th:value="${placeStreet}"/>
                    <input type="text" class="form-control" th:readonly="true" id="placeHouseNumber"
                           th:value="${placeHouseNumber}"/>
                </td>
            </tr>

            <tr>
                <td>
                </td>
                <td>
                    <input type="text" class="form-control" th:readonly="true" id="placePostcode"
                           th:value="${placePostcode}"/>
                    <input type="text" class="form-control" th:readonly="true" id="placeCity" th:value="${placeCity}"/>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="text" class="form-control" th:readonly="true" id="placeCountryCode"
                           th:value="${placeCountryCode}"/>
                    <input type="text" class="form-control" th:readonly="true" id="placeCountry"
                           th:value="${placeCountry}"/>
                </td>
            </tr>

            </tbody>

        </table>
    </div>
</div>
</body>
</html>
