<!DOCTYPE html>
<html>
<head>
    <title>Full Screen Leaflet Map</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="webjars/leaflet/0.7.3/leaflet.css"/>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html, body, #map {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
<div id="map"></div>

<script src="webjars/leaflet/0.7.3/leaflet.js"/>
<script src="webjars/leaflet-plugins/1.1.2/layer/Icon.Canvas.js"/>

<!-- Germering is at lat="48.1364" lon="11.3872928" -->
<script>

    var keepTheReformatterHappy = "foobar";

    <!-- Markers from here on -->
    var places = new L.LayerGroup();

    L.marker([48.1364, 11.3872928]).bindPopup('<b>Germering Camii</b><br/>Türkisch Islamische Gemeinde Germering').addTo(places);

    var overlays =
    {
        "Prayer Places": places
    };

    <!-- Map providers -->
    var osmLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib = '&copy; ' + osmLink + ' Contributors';
    var osmMap = L.tileLayer(osmUrl, {attribution: osmAttrib});

    var thunLink = '<a href="http://thunderforest.com/">Thunderforest</a>';
    var thunUrl = 'http://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png';
    var thunAttrib = '&copy; ' + osmLink + ' Contributors &and;' + thunLink;
    var thunMap = L.tileLayer(thunUrl, {attribution: thunAttrib});

    mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';

    <!-- Now the map itself -->
    var map = L.map('map', {
        center: [48.1364, 11.3872928],
        zoom: 14,
        layers: [osmMap, places]
    });

    var baseLayers =
    {
        "OSM Mapnik": osmMap,
        "Landscape": thunMap
    };

    <!-- Now add the layer switcher to the map -->
    L.control.layers(baseLayers, overlays).addTo(map);

    <!-- Leaflet Plugins demo -->
    var circle = new L.Icon.Canvas({iconSize: new L.Point(30, 30)});
    circle.draw = function(ctx, w, h) {
        ctx.translate(w/2, h/2);

        ctx.beginPath();
        ctx.fillStyle = "#F00";
        ctx.arc(0, 0, w/2-1, 0, Math.PI*2, true);
        ctx.fill();

        ctx.lineWidth = 2;
        ctx.strokeStyle = '#FFF';
        ctx.moveTo(-w/5, -h/5);
        ctx.lineTo(w/5, h/5);
        ctx.moveTo(-w/5, h/5);
        ctx.lineTo(w/5, -h/5);
        ctx.stroke();
        ctx.closePath();
    }

    map.addLayer(new L.Marker(map.getCenter(), {icon: circle, draggable: true, opacity: 0.7}));

</script>
</body>
</html>
