<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{titleprefix} + ': ' + #{main.title}">OSM Mosques: Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/css/osm-mosques.css}" href="../static/css/osm-mosques.css" rel="stylesheet"/>

</head>
<body bgcolor="#fff">
<h1 th:text="#{titleprefix} + ': ' + #{main.title}">OSM Mosques: Main Page</h1>

<ul>
    <li th:text="#{main.this-page}">This page here..</li>
    <li><a th:href="@{/osm/list}" th:text="#{main.osm-list-name}">List of OSM muslim prayer sites</a></li>
    <li><a th:href="@{/ditib/list}" th:text="#{main.ditib-list-name}">List of DITIB muslim prayer sites</a></li>
    <li><a th:href="@{/map}" th:text="#{main.leaflet-based-map}">Leaflet-based map</a></li>
</ul>

<div id="footer">
    <div id="legal.copyright" th:utext="#{legal.copyright}">Copyright mumbo-jumbo</div>
    <div id="legal.license" th:utext="#{legal.license}">Someone owns all</div>
    <div id="legal.contact" th:utext="#{legal.contact}">Contact me</div>
</div>

<script th:src="@{/js/osm-mosques.js}" src="../static/js/osm-mosques.js"/>

</body>
</html>
