<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{titleprefix} + ': ' + #{main.title}">OSM Mosques: Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" th:href="@{/favicon-mosque.ico}" href="../../static/favicon-mosque.ico" type="image/x-icon" />

    <link th:href="@{/css/osm-mosques.css}" href="../static/css/osm-mosques.css" rel="stylesheet"/>

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="menu_bar" th:replace="fragments/navbar :: navbar">
    Navbar stuff
</div>

<h1 th:text="#{titleprefix} + ': ' + #{main.title}">OSM Mosques: Main Page</h1>

<ul>
    <li th:text="#{main.this-page}">This page here..</li>
    <li><a th:href="@{/osm/list}" th:text="#{main.osm-list-name}">List of OSM muslim prayer sites</a></li>
    <li><a th:href="@{/ditib/list}" th:text="#{main.ditib-list-name}">List of DITIB muslim prayer sites</a></li>
    <li><a th:href="@{/ditib/list-already-geocoded}" th:text="#{main.ditib-list-already-geocoded-name}">List of already geocoded DITIB muslim prayer sites</a></li>
    <li><a th:href="@{/ditib/list-to-be-geocoded}" th:text="#{main.ditib-list-to-be-geocoded-name}">List of DITIB muslim prayer sites to be geocoded</a></li>
    <li><a th:href="@{/qadata/list}" th:text="#{main.qadata-list-name}">List of linked places to be QA'ed</a></li>
    <li><a th:href="@{/}" th:text="#{main.leaflet-based-map}">Leaflet-based map</a></li>
</ul>

<div class="footer">
    <div class="footer-content footer-legal-copyright" th:utext="#{footer.legal.copyright}">Copyright mumbo-jumbo</div>
    <div class="footer-content footer-legal-license" th:utext="#{footer.legal.license}">Someone owns all</div>
    <div class="footer-content footer-contact" th:utext="#{footer.contact}">Contact me</div>
</div>

<script th:src="@{/js/osm-mosques.js}" src="../static/js/osm-mosques.js"/>

</body>
</html>
