<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{titleprefix}+ ': ' + #{map.title}">OSM Mosques: Map</title>
    <meta charset="utf-8"/>

    <link rel="shortcut icon" th:href="@{/favicon-mosque.ico}" href="../../static/favicon-mosque.ico"
          type="image/x-icon"/>

    <link th:href="@{/webjars/font-awesome/css/font-awesome.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet"/>

    <link th:href="@{/webjars/leaflet/dist/leaflet.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css"
          rel="stylesheet"/>

    <link th:href="@{/webjars/leaflet-contextmenu/dist/leaflet.contextmenu.css}"
          href="https://SOMEWHERE-ON-THE-INTARWEBS/webjars/leaflet-contextmenu/1.0.0/dist/leaflet.contextmenu.css"
          rel="stylesheet"/>

    <link th:href="@{/webjars/leaflet.markercluster/dist/MarkerCluster.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" rel="stylesheet"/>

    <link th:href="@{/webjars/leaflet.markercluster/dist/MarkerCluster.Default.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css"
          rel="stylesheet"/>

    <link th:href="@{/webjars/sidebar-v2/css/leaflet-sidebar.css}"
          href="https://SOMEWHERE-ON-THE-INTARWEBS/webjars/sidebar-v2/0.3.0/css/leaflet-sidebar.css" rel="stylesheet"/>

    <link th:href="@{/css/osm-mosques.css}" href="../../static/css/osm-mosques.css" rel="stylesheet"/>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="menu_bar"
     th:replace="fragments/navbar :: navbar">
    Navbar stuff
</div>

<div id="sidebar" class="sidebar collapsed">
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
        <ul role="tablist" class="sidebar-tabs">
            <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
            <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
            <li class="disabled"><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li>
        </ul>

        <ul role="tablist">
            <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="sidebar-content">
        <div class="sidebar-pane" id="home">
            <h1 class="sidebar-header">
                sidebar-v2
                <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>

            <p>A responsive sidebar for mapping libraries like <a href="http://leafletjs.com/">Leaflet</a>.</p>
        </div>

        <div class="sidebar-pane" id="profile">
            <h1 class="sidebar-header">Profile<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
        </div>

        <div class="sidebar-pane" id="messages">
            <h1 class="sidebar-header">Messages<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
        </div>

        <div class="sidebar-pane" id="settings">
            <h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
        </div>
    </div>
</div>

<div id="map" class="sidebar-map">
</div>

<div class="footer">
    <div class="footer-content footer-legal-copyright" th:utext="#{footer.legal.copyright}">Copyright mumbo-jumbo</div>
    <div class="footer-content footer-legal-license" th:utext="#{footer.legal.license}">Someone owns all</div>
    <div class="footer-content footer-contact" th:utext="#{footer.contact}">Contact me</div>
</div>

<script th:src="@{/webjars/leaflet/dist/leaflet.js}"
        src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"/>

<script src="https://maps.google.com/maps/api/js?v=3"/>

<script th:src="@{/webjars/leaflet-contextmenu/dist/leaflet.contextmenu.js}"
        src="https://SOMEWHERE-ON-THE-INTARWEBS/webjars/leaflet-contextmenu/1.0.0/dist/leaflet.contextmenu.js"/>

<script th:src="@{/webjars/leaflet.locatecontrol/src/L.Control.Locate.js}"
        src="https://SOMEWHERE-ON-THE-INTARWEBS/webjars/leaflet.locatecontrol/0.48.0/src/L.Control.Locate.js"/>

<script th:src="@{/webjars/leaflet-providers/leaflet-providers.js}"
        src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.1.7/leaflet-providers.min.js"/>

<script th:src="@{/webjars/leaflet-plugins/layer/tile/Google.js}"
        src="https://SOMEWHERE-ON-THE-INTARWEBS/webjars/leaflet-plugins/1.4.3/layer/tile/Google.js"/>

<script th:src="@{/webjars/leaflet-plugins/control/Permalink.js}"
        src="https://SOMEWHERE-ON-THE-INTARWEBS/webjars/leaflet-plugins/1.4.3/layer/control/Permalink.js"/>
<script th:src="@{/webjars/leaflet-plugins/control/Permalink.Marker.js}"
        src="https://SOMEWHERE-ON-THE-INTARWEBS/webjars/leaflet-plugins/1.4.3/control/Permalink.Marker.js"/>
<script th:src="@{/webjars/leaflet-plugins/control/Permalink.Layer.js}"
        src="https://SOMEWHERE-ON-THE-INTARWEBS/webjars/leaflet-plugins/1.4.3/control/Permalink.Layer.js"/>

<script th:src="@{/webjars/leaflet.markercluster/dist/leaflet.markercluster.js}"
        src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"/>
<script th:src="@{/webjars/Leaflet.MakiMarkers/Leaflet.MakiMarkers.js}"
        src="https://SOMEWHERE-ON-THE-INTARWEBS/webjars/Leaflet.MakiMarkers/1.0.1/Leaflet.MakiMarkers.js"/>

<script th:src="@{/webjars/sidebar-v2/js/leaflet-sidebar.js}"
        src="https://SOMEWHERE-ON-THE-INTARWEBS/webjars/sidebar-v2/0.3.0/js/leaflet-sidebar.js"/>

<script th:src="@{/webjars/jquery/dist/jquery.js}"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"/>

<script th:src="@{/js/osm-mosques.js}" src="../../static/js/osm-mosques.js"/>

<script th:src="@{/js/osm-mosques-map.js}" src="../../static/js/osm-mosques-map.js"/>

</body>
</html>
