<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{titleprefix}+ ': ' + #{map.title}">OSM Mosques: Map</title>
    <meta charset="utf-8"/>

    <link th:href="@{/css/osm-mosques.css}" href="../../static/css/osm-mosques.css" rel="stylesheet"/>

    <link th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.css}" href="webjars/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet"/>

    <link th:href="@{/webjars/leaflet/0.7.7/dist/leaflet.css}" href="webjars/leaflet/0.7.7/dist/leaflet.css" rel="stylesheet"/>
    <link th:href="@{/webjars/leaflet.markercluster/0.4.0-hotfix.1/dist/MarkerCluster.css}" href="webjars/leaflet.markercluster/0.4.0-hotfix.1/dist/MarkerCluster.css" rel="stylesheet"/>
    <link th:href="@{/webjars/leaflet.markercluster/0.4.0-hotfix.1/dist/MarkerCluster.Default.css}" href="webjars/leaflet.markercluster/0.4.0-hotfix.1/dist/MarkerCluster.Default.css" rel="stylesheet"/>
</head>
<body>


<div id="header" class="header" style="display: none">
    <div id="header-left">top left</div>
    <div id="header-center">top center</div>
    <div id="header-right">top right</div>
</div>

<div id="map"></div>

<div class="footer">
    <div class="footer-content footer-legal-copyright" th:utext="#{footer.legal.copyright}">Copyright mumbo-jumbo</div>
    <div class="footer-content footer-legal-license" th:utext="#{footer.legal.license}">Someone owns all</div>
    <div class="footer-content footer-contact" th:utext="#{footer.contact}">Contact me</div>
</div>

<script th:src="@{/webjars/leaflet/0.7.7/dist/leaflet.js}" src="webjars/leaflet/0.7.7/dist/leaflet.js"/>

<script src="https://maps.google.com/maps/api/js?v=3" />

<script th:src="@{/webjars/leaflet.locatecontrol/0.48.0/src/L.Control.Locate.js}" src="webjars/leaflet.locatecontrol/0.48.0/src/L.Control.Locate.js"/>

<script th:src="@{/webjars/leaflet-providers/1.1.7/leaflet-providers.js}" src="webjars/leaflet-providers/1.1.7/leaflet-providers.js"/>

<script th:src="@{/webjars/leaflet-plugins/1.4.3/layer/tile/Google.js}" src="webjars/leaflet-plugins/1.4.3/layer/tile/Google.js"/>

<script th:src="@{/webjars/leaflet-plugins/1.4.3/control/Permalink.js}" src="webjars/leaflet-plugins/1.4.3/layer/control/Permalink.js"/>
<script th:src="@{/webjars/leaflet-plugins/1.4.3/control/Permalink.Marker.js}" src="webjars/leaflet-plugins/1.4.3/control/Permalink.Marker.js"/>
<script th:src="@{/webjars/leaflet-plugins/1.4.3/control/Permalink.Layer.js}" src="webjars/leaflet-plugins/1.4.3/control/Permalink.Layer.js"/>

<script th:src="@{/webjars/leaflet.markercluster/0.4.0-hotfix.1/dist/leaflet.markercluster.js}" src="webjars/leaflet.markercluster/0.4.0-hotfix.1/dist/leaflet.markercluster.js"/>
<script th:src="@{/webjars/Leaflet.MakiMarkers/1.0.1/Leaflet.MakiMarkers.js}" src="webjars/Leaflet.MakiMarkers/1.0.1/Leaflet.MakiMarkers.js"/>

<script th:src="@{/js/osm-mosques.js}" src="../../static/js/osm-mosques.js"/>

<script th:src="@{/rest/map/placemarkers/ditib/as-javascript.js}" src="../../static/js/placemarkers-example-ditib.js"/>
<script th:src="@{/rest/map/placemarkers/osm/as-javascript.js}" src="../../static/js/placemarkers-example-osm.js"/>
<script th:src="@{/js/osm-mosques-map.js}" src="../../static/js/osm-mosques-map.js"/>

</body>
</html>
