<!DOCTYPE html>
<div lang="en"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">

    <div id="osm-details" th:replace="fragments/osm-details :: osm-details">OSM Details common stuff</div>


    <a class="fa fa-info" id="details-on-osm" target="_osm" href="http://www.google.com/"
       th:href="${detailsOnOSM}"
       th:text="#{map.details-on-osm}">Details on OSM</a>

    <a class="fa fa-refresh" id="refresh-from-server" target="_refresh" href="http://www.google.com/"
       th:href="${refreshFromServerUrl}"
       th:text="#{map.refresh-from-server}">Refresh</a>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var refreshFromServerUrl = [[${refreshFromServerUrl}]];
        /*]]>*/
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#refresh-from-server").click(function () {
                var request = $.getJSON({
                    url: refreshFromServerUrl,
                    data: {
                        'cachebuster': new Date().getTime()
                    },
                    success: onMapMoveEnd
                });

                // TODO pop up small div that goes away by itself...

                return false;
            });
        });
    </script>

    <a class="fa fa-pencil" id="edit-in-josm-unassigned-country" target="_josm" href="http://www.google.com/"
       th:href="${josmEditUrlUnassignedCountry}"
       th:text="#{map.edit-in-josm}">Edit in JOSM</a>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var josmEditUrlUnassignedCountry = [[${josmEditUrlUnassignedCountry}]];
        /*]]>*/
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#edit-in-josm-unassigned-country").click(function () {
                var request = $.getJSON({
                    url: josmEditUrlUnassignedCountry,
                    data: {
                        'cachebuster': new Date().getTime()
                    },
                    success: onMapMoveEnd
                });

                // TODO pop up small div that goes away by itself...

                return false;
            });
        });
    </script>
</div>
