<!DOCTYPE html>
<div lang="en"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">

    <div id="osm-details" th:replace="fragments/osm-details :: osm-details">OSM Details common stuff</div>


    <a class="fa fa-refresh" target="_refresh" href="http://www.google.com/" th:href="${refreshFromServerUrl}"
       th:text="#{map.refresh-from-server}">Refresh</a>

    <a class="fa fa-pencil" target="_josm" href="http://www.google.com/" th:href="${josmEditUrlUnassignedCountry}"
       th:text="#{map.edit-in-josm}">Edit in JOSM</a>
</div>
