<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{titleprefix}+ ': ' + #{qadata.title}">OSM Mosques: Details of place to be QA'ed</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/css/osm-mosques.css}" href="../../static/css/osm-mosques.css" rel="stylesheet"/>

    <link th:href="@{/webjars/tablesorter/2.24.5/css/theme.dropbox.css}" href="../webjars/tablesorter/2.24.5/css/theme.dropbox.css" rel="stylesheet"/>

    <script th:src="@{/webjars/jquery/2.2.0/jquery.js}" src="../webjars/jquery/2.2.0/jquery.js"/>
    <script th:src="@{/webjars/tablesorter/2.24.5/js/jquery.tablesorter.js}" src="../webjars/tablesorter/2.24.5/js/jquery.tablesorter.js"/>
</head>
<body>
<h1 th:text="#{titleprefix}+ ': ' + #{qadata.title}">OSM Mosques: Details of DITIB place to be QA'ed</h1>


<table>
    <tr>
        <td>
            <div th:if="${josmURL}" id="edit-in-josm">
                <a target="josm" th:href="${josmURL}" th:text="#{qadata.edit.in-josm}">Edit in JOSM</a>
            </div>
        </td>

        <td>
            <div th:if="${osmNodeId}" id="reload-from-osm">
                <a target="reload-from-osm" th:href="@{/rest/osm/fetch/} + ${osmNodeId}" th:text="#{qadata.reload.from-osm}">Reload from OSM</a>
            </div>
        </td>

        <td>
            <div th:if="${osmDetailsURL}" id="view-on-osm">
                <a target="osm" th:href="${osmDetailsURL}" th:text="#{qadata.view.on-osm}">View details on OSM</a>
            </div>
        </td>

        <td>
            <div>
                <a target="map" th:text="#{list.link-to-map}" th:href="@{/map} + '#zoom=17&amp;lat=' + ${place.lat} + '&amp;lon=' + ${place.lon}">OSM Map</a>
            </div>
        </td>
    </tr>
</table>




<table id="qadata-details" class="tablesorter">
    <thead>
    <tr>
        <th>SOURCE</th>
        <th>KEY</th>
        <th>VAL</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>-</td>
            <td th:text="#{list.lat}">Lat</td>
            <td th:text="${place.lat}"></td>
        </tr>
        <tr>
            <td>-</td>
            <td th:text="#{list.lon}">Lon</td>
            <td th:text="${place.lon}"></td>
        </tr>
        <tr>
            <td>-</td>
            <td th:text="#{list.score}">Score</td>
            <td th:text="${place.score}"></td>
        </tr>
        <tr>
            <td th:text="#{qadata.source.ditib}">DITIB</td>
            <td th:text="#{list.key}">Key</td>
            <td th:text="${place.ditibPlace.key}"></td>
        </tr>
        <tr>
            <td th:text="#{qadata.source.osm}">OSM</td>
            <td th:text="#{list.key}">Key</td>
            <td th:text="${place.osmPlace.key}"></td>
        </tr>
        <tr>
            <td th:text="#{qadata.source.ditib}">DITIB</td>
            <td th:text="#{list.name}">Name</td>
            <td th:text="${place.ditibPlace.name}"></td>
        </tr>
        <tr>
            <td th:text="#{qadata.source.osm}">OSM</td>
            <td th:text="#{list.name}">Name</td>
            <td th:text="${place.osmPlace.name}"></td>
        </tr>
        <tr>
            <td th:text="#{qadata.source.ditib}">DITIB</td>
            <td th:text="#{list.country}">Country</td>
            <td th:text="${place.ditibPlace.address.country}"></td>
        </tr>
        <tr>
            <td th:text="#{qadata.source.osm}">OSM</td>
            <td th:text="#{list.country}">Country</td>
            <td th:text="${place.osmPlace.address.country}"></td>
        </tr>
        <tr>
            <td th:text="#{qadata.source.ditib}">DITIB</td>
            <td th:text="#{list.city}">City</td>
            <td th:text="${place.ditibPlace.address.city}"></td>
        </tr>
        <tr>
            <td th:text="#{qadata.source.osm}">OSM</td>
            <td th:text="#{list.city}">City</td>
            <td th:text="${place.osmPlace.address.city}"></td>
        </tr>
        <tr>
            <td th:text="#{qadata.source.ditib}">DITIB</td>
            <td th:text="#{list.street}">Street</td>
            <td th:text="${place.ditibPlace.address.street}"></td>
        </tr>
        <tr>
            <td th:text="#{qadata.source.osm}">OSM</td>
            <td th:text="#{list.street}">Street</td>
            <td th:text="${place.osmPlace.address.street}"></td>
        </tr>
        <tr>
            <td th:text="#{qadata.source.ditib}">DITIB</td>
            <td th:text="#{list.housenumber}">Housenumber</td>
            <td th:text="${place.ditibPlace.address.housenumber}"></td>
        </tr>
        <tr>
            <td th:text="#{qadata.source.osm}">OSM</td>
            <td th:text="#{list.housenumber}">Housenumber</td>
            <td th:text="${place.osmPlace.address.housenumber}"></td>
        </tr>
    </tbody>
</table>

<div class="footer">
    <div class="footer-content footer-legal-copyright" th:utext="#{footer.legal.copyright}">Copyright mumbo-jumbo</div>
    <div class="footer-content footer-legal-license" th:utext="#{footer.legal.license}">Someone owns all</div>
    <div class="footer-content footer-contact" th:utext="#{footer.contact}">Contact me</div>
</div>

<script th:src="@{/js/osm-mosques.js}" src="../../static/js/osm-mosques.js"/>

<script id="js">
    $(function () {
        $.extend($.tablesorter.defaults, {
            theme: 'dropbox',
            widthFixed: true
        });
        $(".compatibility").tablesorter();
        $("#qadata-details").tablesorter({widgets: ['zebra']});
        $("table.options, table.api").tablesorter({widgets: ['stickyHeaders']});
    });
</script>

</body>
</html>
